/**Body: The background color was taken from http://colorschemedesigner.com**/
body {
    background: #4A5154;
    font-family: 'InconsolataMedium', "Lucida Console", Monaco, monospace;
    font-size: 13px;
    letter-spacing:0.05em;
    line-height: 1.40;
}

#top{
    background: #F77564;
    padding: 5px 5px 10px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#nav-bar{
    text-align: center;
}

#nav-bar li{
    display: inline-block;
    margin: 0 4%;
    border-width: 0 1px;
    border-bottom-color: #2f4f4f;
    border-style: solid;
}

#content-tab{
    background: #F79364;
    width: 200px;
    border-width: 1px 4px 3px 1px;
    border-bottom-color: #2f4f4f;
    border-style: solid;
    border-radius: 0 10px 0 0;
    padding: 3px 3px 3px 1px ;
    margin: 20px;
}

ul{
    list-style-type: disc;
}

#intro{
    color: #F2EFF4;
    margin: 20px;
}

#summary {
    background: #F2EFF4;
    border-width: 1px 4px 3px 1px;
    border-bottom-color: #2f4f4f;
    border-style: solid;
    border-radius: 0 10px 0 0;
    margin: 0 50px 50px 50px;
}

#summary p{
    margin: 0 20px 5px 20px;
}

.backbtn{
    text-align: right;
    margin: 0 2px 2px 2px;
}

/**Headers: All headers have different opacity
    Source: http://meyerweb.com, http://kuleradobe.com**/
h1 {
    color: #f5f5f5;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin: 50px;
}

h2 {
    color: #4A5154;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    margin: 10px;
}

h3 {
    color: #4A5154;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    margin: 10px;
}

h4 {
    color: #4A5154;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    margin: 10px;

}

#source {
    color: #F2EFF4;
    background: none;
    font-style: italic;
    background: #FF8674;
    opacity: 0.90;
    margin: 0 20px 20px;
}

/*Links Visited*/

a:link{
    color: #808080;
}

a:visited{
    color: black;
}

a:hover{
    color: white;
    text-decoration: underline;
}

a:active{
    color: #4169e1;
}






