body {
    background: #fa8072;
    background-image: url("../images/patterns/back.jpg");
    width: 100%;
    margin: 0 auto;
    font-family: 'Alef', helvetica, sans-serif;
    font-size: 0.813em;
    letter-spacing: 0.05em;
    line-height: 1.40em;
}

/***Headings***/
h1{
    font-family: 'Amatic SC', cursive;
    color: black;
    font-size: 40px;
}

h2{
    font-family: 'Amatic SC', cursive;
}


/***Header & Nav bar***/
header {
    background: #2f4f4f;
    opacity: 0.90;
    border-radius: 20px;
    width: 900px;
    /*height: 200px;*/
    margin: 0 auto;
    overflow: auto;
}

header h1{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 100px;
    margin: 40px auto;
    margin-top: 60px;
    text-align: center;
}

nav {
    background: #808080;
    width: 400px;
    height: 50px;
    float: left;
    margin: 30px 250px;
}

nav li {
    display: inline-block;
    margin: 0 23px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav  li a:hover {
    color: #F2505D;
}

/***Wrapper & Content***/
#wrapper {
    background: #F2F0D5;
    background: -moz-linear-gradient(top,  rgba(29,73,145,1) 0%, rgba(28,59,142,0.93) 15%, rgba(29,59,147,0.91) 19%, rgba(21,74,107,0.87) 27%, rgba(21,109,62,0.75) 51%, rgba(74,109,21,0.7) 61%, rgba(86,127,25,0.64) 74%, rgba(121,130,26,0.58) 86%, rgba(84,122,66,0.51) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,73,145,1)), color-stop(15%,rgba(28,59,142,0.93)), color-stop(19%,rgba(29,59,147,0.91)), color-stop(27%,rgba(21,74,107,0.87)), color-stop(51%,rgba(21,109,62,0.75)), color-stop(61%,rgba(74,109,21,0.7)), color-stop(74%,rgba(86,127,25,0.64)), color-stop(86%,rgba(121,130,26,0.58)), color-stop(100%,rgba(84,122,66,0.51))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(29,73,145,1) 0%,rgba(28,59,142,0.93) 15%,rgba(29,59,147,0.91) 19%,rgba(21,74,107,0.87) 27%,rgba(21,109,62,0.75) 51%,rgba(74,109,21,0.7) 61%,rgba(86,127,25,0.64) 74%,rgba(121,130,26,0.58) 86%,rgba(84,122,66,0.51) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(29,73,145,1) 0%,rgba(28,59,142,0.93) 15%,rgba(29,59,147,0.91) 19%,rgba(21,74,107,0.87) 27%,rgba(21,109,62,0.75) 51%,rgba(74,109,21,0.7) 61%,rgba(86,127,25,0.64) 74%,rgba(121,130,26,0.58) 86%,rgba(84,122,66,0.51) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(29,73,145,1) 0%,rgba(28,59,142,0.93) 15%,rgba(29,59,147,0.91) 19%,rgba(21,74,107,0.87) 27%,rgba(21,109,62,0.75) 51%,rgba(74,109,21,0.7) 61%,rgba(86,127,25,0.64) 74%,rgba(121,130,26,0.58) 86%,rgba(84,122,66,0.51) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(29,73,145,1) 0%,rgba(28,59,142,0.93) 15%,rgba(29,59,147,0.91) 19%,rgba(21,74,107,0.87) 27%,rgba(21,109,62,0.75) 51%,rgba(74,109,21,0.7) 61%,rgba(86,127,25,0.64) 74%,rgba(121,130,26,0.58) 86%,rgba(84,122,66,0.51) 100%); /* W3C */
    border-radius: 20px;
    width: 900px;
    margin: 20px auto;
    /*padding: 1px 0;*/
    overflow: auto;
}

article, section {
    background: #008b8b;
    width: 400px;
    height: 400px;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    float: left;
    overflow: auto;
}

figure{
    margin: 0 auto;
}

img{
    border-width: 2px;
    border-style: solid;
    border-color: #008b8b;
}

img:hover{
    border-color: #F2505D;
}

/*Table*/
table{
    width: 350px;
    margin: 2px auto;
}

th {
    background: #0B3A40;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    border-top: 1px solid #0B3A40;
    border-radius: 5px;
    text-align: center;
}

td{
    text-align: right;
}

tr.even{
    background: #ADD9C9;
}

tr:hover{
    background: #F2505D;
}


/***Footer***/
footer {
    background: #2f4f4f;
    color: white;
    opacity: 0.90;
    border-radius: 10px;
    width: 900px;
    height: 380px;
    margin: 10px auto;
    padding: 20px;
    clear: both;
}

.submit{
    color: white;
    background: #fa8072;
    border-radius: 10px;
    border: 5px;
    margin-top: 5px;
}

.submit:hover{
    color: black;
    background: #e9967a;
    border-radius: 10px;
    border: 5px;
}

#form-box{
    width: 400px;
    margin: 0;
    float: left;
}

#newsletter{
    background: #008b8b;
    width: 250px;
    height: 50px;
    margin: 10px;
    margin-left: 200px;
    padding: 5px;
    color: #fff5ee;
    border-radius: 10px;
    float: left;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    box-shadow: 2px 2px 2px 2px #777777;
}

/***Left side-bar***/
aside {
    background: #2f4f4f;
    opacity: 0.90;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    margin-left: 230px;
    float: left;
}

#header-aside-left{
    background: #808080;
    border-radius: 10px 10px 0 0;
    width: 200px;
    margin: 0;
    padding: 2px 3px;
    text-align: center;
}

#search-box{
    width: 200px;
    margin: 2px;
}

.search{
    color: white;
    background: #fa8072;
    border-radius: 10px;
    border: 5px;
}

.search:hover{
    color: black;
    background: #e9967a;
    border-radius: 10px;
    border: 5px;
}



